source .env/bin/activate
export BINANCE_API_KEY=b9wRJvOLajxO0RrCyBbGGADd0Zw1YSysNl1Izv4qMtYWq2saOhvBtsJeUz4zD0ka
export BINANCE_API_SECRET=fsXRwW07pXvSFuWasLn2DzQLgnhGjdc6Bhjg8XIGHinPXR2laT7iGg0UoFu8XURF
export BINANCE_TESTNET_API_KEY=kGCOYeQhDTnZ73Z3AUhM9ZYrFAf2NBzAYn5JfHNcbdmt2pES4RrEJHGUL427HswP
export BINANCE_TESTNET_API_SECRET=WQ2pVRMIg3Vt4fsSZFwwC9RhLieMgzhNzd4UgoaPyJHMhMSB96gmp4wvs3Lekg6j